<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8"/>
      <meta name = "viewport" content= "width-device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="./css/reset.css">
      <link rel="stylesheet" type="text/css" href="./css/style.css">
        <title>Hamburglar Delight</title>

    </head>

    <body>
<main>

<header>
<img id = "headerimage" src="./img/bakgrund1.png" alt="Background">
<h1> Welcome to Hamburglar Delight</h1>
</header>

<section id="burgers">
  <h2> Burger selection </h2>

<section id="burger-selection">

  <div class="burger a">
     <section class = "burger-name" >Original burglar</section>
     <img src="./img/burgler1.png" alt="Original burger">
      <section class = "burger-info"> <ul>
       <li>Cheddar cheese</li>
       <li>Roman lettuce, tomatoe and onion</li>
       <li>Sourdough bread <span id="allergy">(gluten free)</span></li>
     </ul> </section>
  </div>


  <div class="burger b">
    <section class= "burger-name">Vegan burglar</section>
    <img src="./img/burgler2.png" alt="Vegan burger">
  <section class = "burger-info"> <ul>
      <li>Vegan cheddar <span id="allergy">lactose free) </span></li>
      <li>Lettuce, tomatoe and red cabbage</li>
      <li>Rhye bread <span id="allergy">(gluten free) </span></li>
    </ul> </section>
  </div>

  <div class="burger c">
    <section class = "burger-name">Mushroom blooper</section>
    <img src="./img/burgler3.png" alt="Mushroom burger">
      <section class = "burger-info"><ul>
        <li>Cheddar cheese</li>
        <li>Portabello, spinach & grilled tomatoe </li>
        <li>Wheat bread </li>
      </ul></section>
  </div>

</section>
</section>

<div class = "background">
<section id= "customer">
  <h3> Customer information </h3>
  <br />
<form>
    <h4> Delivery information: </h4>
    <br />
    <p> Fill in your details </p>
    <br />
  <p>
      <label for="firstname">Full name</label><br>
      <input type="text" id="firstname" name="fn" required="required" placeholder="First- and Last name" />
  </p><br />
  <p>
      <label for="email">E-mail</label><br>
      <input type="email" id="email" name="em" required="required" placeholder="E-mail address" />
  </p><br />
  <p>
      <label for="street">Street</label><br>
      <input type="text" id="street" name="st" placeholder="Street name" />
  </p><br />
  <p>
      <label for="house">House</label><br>
      <input type="number" id="house" name="h" placeholder="House number" />
  </p><br />

  <p>
    <label for="payment">Payment method</label><br>
    <select id="payment" name="pay">
        <option selected = "selected">Klarna</option>
        <option>Visa/Mastercard</option>
        <option>Swish</option>
        <option>Bill</option>
  </p>
</select>
        <p>
            <br /><label for="gender">Gender</label><br><br />
            <input type="radio" id="gender" name="g" placeholder="Gender">Male</input>
            <input type="radio" id="gender" name="g" placeholder="Gender">Female</input>
            <input type="radio" id="gender" name="g" placeholder="Gender">Non-Binary</input>
            <input type="radio" checked="checked" id="gender" name="g" placeholder="Gender">Undisclosed</input>
        </p>

</form>
</section>
</div>

  <button type="submit"><img src="./img/deliButton.png"/> <h3>Place my order!</h3></button>
<main/>

<hr>
<footer>
<p>&copy; 2020 hamburglarDelight.com<p>
</footer>
    </body>
</html>
