@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Dosis|ZCOOL+QingKe+HuangYou&display=swap");
@import url('https://fonts.googleapis.com/css?family=B612&display=swap');

body {
    /*font-family: 'Dosis', sans-serif; */
    font-family: 'B612', sans-serif;
    font-size: 150%;
    margin:0 auto;
}

main{
  width:100%;
}

/***********Header***********/
header{
  margin: 0.9em 0.9em 0px 0.9em; 	/*top right bottom left*/
  overflow:hidden;
  position:relative;
}

#headerimage{
  opacity: 0.7;
  width: 100%;
  height: 100%;
}

h1{
  font-size: 3.8em;
  top: 50%;
  left: 50%;
  text-shadow: 0 0 10px white, 0 0 5px black; /*text border/glow*/
  white-space: nowrap;
  transform: translate(-50%, -50%);
  position: absolute;
}



/***********Burgar section************/

h2{
  font-size: 2.5em;
  margin-bottom: 1em;
}

h3{
  font-size: 1.7em;
  white-space: nowrap;
}

h4{
  font-size: 1.3em;
  font-weight:bold;
  margin-top:2em;
}

#burger-name{
  font-size: 1.5em;
  font-weight: bold;
  text-align:center;
  white-space: nowrap;
  margin: 1em 1.1em 1em 0em;
}

#allergy {
  font-weight: bold;
}

#burgers {
  background-color: black;
  color: white;
  border: 0.092em dashed white;
  padding: 5em 4em 10em; /*top right/left bottom*/
  margin: 0.1em 0.9em 0.1em;
}

.grid{
  display:grid;
  margin: 1em 1em 2.3em;
  grid-gap: 1em;
  grid-template-columns: auto auto auto auto;
  margin: 0 auto;
  align-content: center;
}

.burger-info{
  margin: 1em 0em 0em;
}

.grid img {
  width: 90%;
  display: block;
  margin: 1em auto;
  align-content: center;
  height: 50%;
}


.burger{
     border-radius: 1em;
 }

 ul {
   list-style-type:circle;
   margin: 0em 1em 3em;
 }

 li {
   font-size: 1.2em;
   margin: 0em 1em 0.3em;
 }


/***********Customer information****************/

.customer{
  border: 0.092em dashed black;
  padding: 3em 4em 3em;
  font-size: 100%;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0.09145665101978295) 0%, rgba(255,251,225,0.6768908246892507) 91%);
  margin: 0.5em 0.9em 0.1em;

}

button:hover{
  background-color: #90EE90;
  cursor:pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); /*button shadow*/
}

button{
  margin: 3em 1em 0.1em;
  border-radius: 10px; /*rounded corners*/
  border: 2px dashed #4CAF50;
  width: 15em;
  height: 9em;
}

button img{
  width: 20%;
}

input[type=number] {
  -moz-appearance:textfield; /*removes arrows in number field*/
  height: 1em;
  width: 10em;
}

footer{
  margin: 1em 0.5em 1em;
}

#payment{
  margin: 1em 0em 1em;
  font-size: 0.7em;
}


.order-details {
margin: 2em 0em 2em;
padding: 2em;
border: 0.05em solid lightgreen;
background-color: white;
width: 20em;
}

h5{
  font-size: 1.3em;
}

/*map*/

.view-box {
	width: 90%;
	height: 50vh;
	margin: 1em auto;
	overflow: scroll;
	border: 1px solid rgba(0,0,0,0.4);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

#dots {
	position: relative;
	margin: 0;
	padding: 0;
	background: url(/img/polacks.jpg);
	background-repeat: no-repeat;
	width:1920px;
	height: 1078px;
	cursor: crosshair;
}

#dots div {
	position: absolute;
	background: black;
	color: white;
	border-radius: 10px;
	width:20px;
	height:20px;
	text-align: center;
}


/************Responsive design*************/

@media screen and (max-width: 800px) {
    body {
      font-size: 2vw;
    }

    h1{
      font-size: 4.7vw;
    }

    .burger img {
      width: 85%;
    }
}
