@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Dosis|ZCOOL+QingKe+HuangYou&display=swap");
body {
    font-family: 'Dosis', sans-serif;
    font-size: 16pt;
}

.contact {
    color: #ff5500;
}

#allergy {
    font-weight: bold;
}
