@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Dosis|ZCOOL+QingKe+HuangYou&display=swap");
body {
    font-family: 'Dosis', sans-serif;
    font-size: 16pt;
    margin:0 auto;
}

#allergy {
  font-weight: bold;
}

#burgers {
  background-color: black;
  color: white;
}

#customer{

}

button:hover{
  background-color: #90EE90;
  cursor:pointer;
}

button{
margin:20px;
}

table{
  width: 60%;
  margin:0 auto;
}

section{
  margin:20px;
}
