@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Dosis|ZCOOL+QingKe+HuangYou&display=swap");
body {
    font-family: 'Dosis', sans-serif;
    font-size: 16pt;

}

#allergy {
    font-weight: bold;
}

#burgers {
  background-color: black;
  color: white;
}

#customer{

}

button:hover, input[type="submit"]{
  background-color: #90EE90;
  cursor:pointer;
}
